**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.coverage
**/htmlcov/
*.egg-info/
.venv/
venv/
var/
.env
.env.bak*
.git/
.github/
**/.gitignore
**/README.md
**/tests/
lab_agent/
ipam_service/